@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html, body {
    margin: 0;
    padding: 0;
}

.main-header {
    background-image: url(/img/wallpapermain.jpg);
    background-size: cover;
    padding-bottom: 200px;
}

.main-text {
    padding: 0.7em 0em;
    text-align: center;
    color: white;
    font-size: 100px;
}

.main-sub {
    text-align: center;
    color: white;
    font-size: 2em;
}

.nav ul {
    margin: 0px;
}

.nav li {
    display: inline;
}

.main-nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(128, 128, 128, 3);
}

.main-nav li {
    padding: 0 4%;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(128, 128, 128, .3);
}

.about-text {
    text-align: center;
    padding: 1em;
    font-size: 60px;
    border-bottom: 2px solid black;
    
}

.ab-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about {
    text-align: center;
    padding: 0px 10px;
}

.about p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    font-size: 20px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.about h2 {
    font-size: 40px;
    font-weight: bold;
}

.find-img {
    width: 6%;
    display: flex;
}

.find {
    background-color: #0D2137;
    background-size: cover;
}

.find-text {
    color: white;
    padding-top: 2em;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.footer-nav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

.footer-down {
    text-align: center;
    font-weight: bold;
    background-color: #00152b;
    color: white;
    padding: 1em 0em;
}

.footer-down a {
    text-decoration: none;
    color: #0973B6;
}

/* Projects section */

.ab-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px 10px;
    width: 20%;
    text-decoration: none;
    background-color: rgba(128, 128, 128, .3);
    color: white;
    border-radius: 10px;
    border-color: black;
}

.project-row {
    border-bottom: 2px solid rgb(204, 204, 204);
    padding: 1em 0em;
    margin: 1em;
}

.project-row a {
    text-decoration: none;
    color: white;
}

.prj-name {
    font-weight: bold;
    padding-right: 10px;
}

.prj-release {
    padding-right: 10px;
}

.prj-btn {
    background-color: #0D2137;
    border: 1px solid #0D2137;
    color: white;
    padding: .9em 2em;
    border-radius: 10px;
}

.footer-nav {
    display: flex;
    height: 100%;
    width: 100%;
    place-items: center; 
    justify-content: center;
    list-style-type: none;
       
}




.footer-nav i {
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 1.1em;
    padding-bottom: 20px;
    
}




